/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
 	font-family: 'Lato', sans-serif;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#pricing-banner {
  background-color: #29b6f6;
}

.parallax-container {
      height: 450px;
      background:rgba(0, 0, 0, .65);
  }


nav {
	box-shadow: none;
}

.dollar {
	font-size: 1.4rem;
	vertical-align: super; 
}

.permonth {
	font-size: 1.4rem;
	vertical-align: s; 
}

.btn-large {
	background-color: #ff9800;
}

.btn-large:hover {
	background-color: #29b6f6;
}

 
  img {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
  }
  .publicationlogo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
            flex-flow: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;

  }
  .publicationlogo:nth-child(1) {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
            flex-flow: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;

  }

  #featuredin,#customers,#paidcustomers {
    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #featuredinheading,#customersheading,#paidcustomersheading {
    margin-bottom: 10px;
    text-decoration: bold;
    font-size: 22px;
    font-family: Lato;
    color: gray;
  }

  #techinasia {
    height: 65px;
  }

  #nextbigwhat, #businessline, #grofers, #healthkart, #ola {
    height: 45px;
  }

  #gadgets {
    height: 55px;
  }
  
  #businessstandard {
    height: 45px;
  }
  .row {
    margin-bottom: 10px;
  }

  #submitdetails {
    margin-top: 10px;
  }

  #signup {
    text-transform: none;
  }

  div#customers,div#paidcustomers {height: 160px;background: #29b6f6;}

div#paidcustomers {
  height: 360px;
}
  #grofers, #healthkart, #ola, #bms {
    height: 60px;
  }

  #bms {
    -webkit-filter: brightness(4) grayscale(1);filter: brightness(4) grayscale(1);
  }

  img#grofers, img#healthkart {
    -webkit-filter: invert(1) brightness(3) grayscale(1);
	 filter: invert(1) brightness(3) grayscale(1);
  }

  img#ola {
    -webkit-filter: invert(1) brightness(7) grayscale(1);
    filter: invert(1) brightness(7) grayscale(1);
  }
  
  div#featuredin {
    height: 180px;
  }
  div#customersheading,div#paidcustomersheading {
    color: white;
  }

.companyrow div[id$="ios"] {
  height: 95px;
  width: 95px;
  border-radius: 10px;
  background-position: center;
  background-size: 100px 100px;
  -webkit-filter: grayscale(1);  filter: grayscale(1);
  
}
#faasos_ios {
  -webkit-filter:invert(0.4) brightness(1.6);  filter:invert(0.4) brightness(1.6);
}
#faasos_ios:hover{
  -webkit-filter:invert(0) brightness(1);filter:invert(0) brightness(1);
}
.publicationlogo div:hover {
  -webkit-filter: grayscale(0);  filter: grayscale(0);
}

#ti_ios {
  background-image: url(../img/times-internet-logo.jpg);
}
#grofers_ios {
  background-image: url(../img/grofers_ios.jpeg);
}
#hk_ios {
  background-image: url(../img/hk_ios.png);
}
#quikr_ios {
  background-image: url(../img/quikr_ios.jpeg);
}
#faasos_ios {
  background-image: url(../img/faasos_ios.jpeg);
}
#bharat_ios {
  background-image: url(../img/bharat_ios.jpeg);
}
#shuttl_ios {
    background-image: url(../img/shuttl_ios.jpeg);
}
.companyname {
  position: relative;
  color: white;
  text-align: center;
  font-size: 20px;
}
.small {
  font-size: 14px;
}
.companyrow{
  margin-top: 20px;
  min-width: 700px !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
          flex-flow: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
          justify-content: space-around;
}
  @media screen and (max-width: 960px) {
    #techinasia, #grofers, #healthkart, #ola, #bms {
      height: 20px;
    }
    .about {
        font-size: 20px !important;
      	line-height: 36px !important;
    }
    #customersheading, #featuredinheading {
	   font-size: 20px;
    }
    #businessline {
      height: 11px;
    }

    #nextbigwhat,#businessstandard {
      height: 11px;
    }
    #gadgets {
      height: 16px;
    }
    .parallax-container {
	    height: 600px;
    }
    .companyrow div[id$="ios"] {
      height: 45px;
      width: 45px;
      border-radius: 6px;
      background-size: 50px 50px;   
    }
    .companyrow>a>div {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
              flex-flow: column
      -webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;
      -webkit-align-items: center;-ms-flex-align: center;align-items: center;
    }
    
   .companyrow {
    min-width: 400px !important;
    margin-top: 20px;
   }
    .companyname {
      font-size: 14px;
      width: 60px !important;
    }
    div#paidcustomers{
      height: 300px;
    }
    .small {
      font-size: 10px;
    }
    /*#hk_ios~.companyname {
      font-size: 12px;
    }*/
    div#customersheading {
      font-size: 14px;
    }
  }

.about {
  font-size: 24px;
  line-height: 48px;
  letter-spacing: -0.5px;
}

.progress {
  background-color: #29b6f6;
}

.progress .indeterminate {
  background-color: #03374e;
}
