/**
 * Created by sitesh on 26/01/16.
 */

h1 {
    color: orange;
    text-align: center;
    margin: 4px;
    margin-top: 50px;
}

h5 {
    margin: 4px;
    color: grey;
    margin-bottom: 40px;
}

#thin {
	margin-bottom: 20px;
}

#container_filter {
    width: 480px;
    text-align: center;
    /* font-style: italic; */
    padding-right: 7%;
    padding-left: 5%;
}

img {
    opacity: 0.4;
}

span#lastscanned {
    float: right;
    margin-right: 7%;
    color: grey;
}

#lastscanned, #dashboard_writeup {
    font-size: 20px;
}

table > thead > tr, table > tfoot > tr {
    color: white;
    font-size: larger;
    align-content: center;
    background-color: #29b6f6;
}

input#website {
    color: black;
}

td, th {
    text-align: center;
}

table.dataTable.display tbody td {
    border-top: none;
}

table > tbody > tr > td:nth-child(3) {
    font-style: italic;
}

table > tbody > tr > td:nth-child(4):after {
	content: " M"
}


table.dataTable.compact tbody th,table.dataTable.compact tbody td{border-top: none;}
table.dataTable.compact thead th,table.dataTable.compact thead td{padding:4px 17px 4px 4px;border-radius: 0px;border-bottom: none;}
table.dataTable.compact tfoot th,table.dataTable.compact tfoot td{padding:4px;border-radius: 0px;border-top: 0px;}

#dashboard_writeup {
    color: #FF9308;
    float: left;
    padding-left: 5%;
    /* font-style: italic; */
}

.progressbar {
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.progressbar > div {
   background-color: red;
   width: 0%; /* Adjust with JavaScript */
   height: 20px;
}

#submitstartup {
	margin-top: 80px;
}

@media screen and (max-width: 960px) {
	body {
		font-size: 11px;
	}
	#lastscanned, #dashboard_writeup {
		font-size: 11px;
	}
	h1 {
		font-size: 2.2rem;
	}
	h5 {
		font-size: 0.9rem;
	}
	#container_filter {
		max-width: 100%;
	}

	#submitstartup>center>h5{
		font-size: 1.5rem;
	}
        input[type="search"] {
		border-radius: 0;
		-webkit-border-radius: 0;
		-webkit-appearance: none;	
	}	
	/* vanish 2nd column */
	table > tbody > tr > td:nth-child(2) {
		display: none;
	}
	table > thead > tr > th:nth-child(2) {
		display: none;
	}
	table > tfoot > tr > th:nth-child(2) {
		display: none;
	}

	/* vanish 4th column */
	table > tbody > tr > td:nth-child(4) {
                display: none;
        }
        table > thead > tr > th:nth-child(4) {
                display: none;
        }
        table > tfoot > tr > th:nth-child(4) {
                display: none;
        }	
}

