/**
 * Created by sitesh on 26/01/16.
 */

h1 {
    color: orange;
    text-align: center;
}

#container_filter {
    width: 25%;
    text-align: center;
    font-style: italic;
    padding-right: 7%;
}

table > thead > tr, table > tfoot > tr {
    color: white;
    font-size: larger;
    align-content: center;
    background-color: #29b6f6;
}

table > tbody > tr > td:nth-child(1) {
    font-size: larger;
}

tr:nth-child(1) {
    font-weight: 700;
}

td, th {
    text-align: center;
}

table > tbody > tr > td:nth-child(2) {
    font-style: italic;
}

#dashboard_writeup {
    color: burlywood;
    float: left;
    padding-left: 5%;
    font-style: italic;
}

.progressbar {
  background-color: #dcdcdc;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.progressbar > div {
   background-color: red;
   width: 0%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}
