/**
 * Created by sitesh on 26/01/16.
 */

h1 {
    color: orange;
    text-align: center;
}

#container_filter {
    width: 25%;
    text-align: center;
    font-style: italic;
    padding-right: 7%;
}

img {
    opacity: 0.4;
}

table > thead > tr, table > tfoot > tr {
    color: white;
    font-size: larger;
    align-content: center;
    background-color: #29b6f6;
}

table > tbody > tr > td:nth-child(1) {
    font-size: larger;
}

tr:nth-child(1) {
    font-weight: 700;
}

td, th {
    text-align: center;
}

table.dataTable.display tbody td {
    border-top: none;
}

table > tbody > tr > td:nth-child(2) {
    font-style: italic;
}

table.dataTable.compact tbody th,table.dataTable.compact tbody td{border-top: none;}
table.dataTable.compact thead th,table.dataTable.compact thead td{padding:4px 17px 4px 4px;border-radius: 0px;border-bottom: none;}
table.dataTable.compact tfoot th,table.dataTable.compact tfoot td{padding:4px;border-radius: 0px;border-top: 0px;}

#dashboard_writeup {
    color: burlywood;
    float: left;
    padding-left: 5%;
    font-style: italic;
}

.progressbar {
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.progressbar > div {
   background-color: red;
   width: 0%; /* Adjust with JavaScript */
   height: 20px;
}
